{%extends 'base.html'%}
{% block content %}
{{block.super}}


{% for images_item in images %}

 <!--Display the images  -->
 <div class="col-md-6"><br>
    <img class="img-responsive" src="{{images_item.gallery_image.url}}" data-target="#myModal{{images_item.id}}" 
    data-toggle="modal"  alt="Image">
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal{{images_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Name: {{images_item.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{images_item.gallery_image.url}}" class="img-responsive"  alt="Image" size="100px200">
      </div>
        
      <div class="modal-body">Description: {{images_item.description}}</div>
      <div class="modal-body">Category: {{images_item.categories}}</div>
      <div class="modal-body">Location: {{images_item.location}}</div>
      <div class="modal-footer">
        
        <button type="button" name="button" class="btn btn-info" value="{{images_item.gallery_image.url}}" onclick="copylink(this.value)">Copy Image Link</button>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
 
    

{% endfor %}

{% endblock%}

